body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  




/* header style */
.japan-head{
    background-color: rgba(93, 213, 253, 0.5);
    box-shadow: 10px 15px 10px rgb(246, 85, 85);
}
.japan-head:hover{
    box-shadow:  20px 20px 20px rgb(60, 128, 245) ;
    transition: ease-in .7s;
}


 /* h1 animation */
h1.font-head{
    cursor: default;
    width: 100%;
    height: 100px;
    margin: auto;
    display: block;
    text-align: center;
}

@-webkit-keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
        0 50px 25px rgba(0, 0, 0, 0.2);
    }
  }
  

h1.font-head span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce 0.3s ease infinite alternate;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
      0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
  }
  h1 span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
  }
  
  h1 span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
  }
  
  h1 span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
  }
  
  h1 span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
  }
/* header p animation */
.header-p{
    margin-top: 60px;
    font-size: bold;
    color: aliceblue;
    text-shadow: 2px 3px 5px black;
}
p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    
}
h3{
    font-family: 'Cormorant Garamond', serif;
}
h4{
    font-family: 'Abril Fatface', cursive;
}
/* galery style */

.galery{
    display: flex;
    justify-content: space-around;
    height: 65vh;
}

.accordian {
	width: 1000px; height: 750px;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
    width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}
/* main styles */

main.container{
    background-color: whitesmoke;
    margin-top: 60px;
}
